
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>User Registration By Admin</title>
    <link rel="stylesheet" th:href="@{/Styles/AdminfragmentCSS.css}">
    <link rel="stylesheet" th:href="@{/Styles/UserAdminRegister.css}">
</head>
<body>
<div th:replace="Admin/AdminFragment  :: sidebar(${admin})"></div>
<div th:replace="Admin/AdminFragment  :: navbar"></div>
<div class="container">

    <div class="card">

        <h2>User Registration</h2>

        <form th:action="@{/admin/user/register}" th:object="${userDto}" method="post" enctype="multipart/form-data">
            <!-- Global error message -->
            <div th:if="${errorMessage}" class="global-error">
                <p th:text="${errorMessage}"></p>
            </div>

            <!-- Full Name -->
            <div class="field">
                <label>Full Name</label>
                <input type="text" th:field="*{fullName}" placeholder="enter your name" required>
                <p class="error" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p>
            </div>

            <!-- Username -->
            <div class="field">
                <label>Username</label>
                <input type="text" th:field="*{username}" placeholder="enter your username" required>
                <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            </div>

            <!-- Email -->
            <div class="field">
                <label>Email</label>
                <input type="email" th:field="*{email}" placeholder="you@example.com" required>
                <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>

            <!-- Phone -->
            <div class="field">
                <label>Phone Number</label>
                <input type="text" th:field="*{phone}" pattern="98\d{8}" maxlength="10"  placeholder="98XXXXXXXX" required>

                <p class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
            </div>

            <!-- Age -->
            <div class="field">
                <label>Age</label>
                <input type="number" th:field="*{userAge}" placeholder="enter your age" required>
                <p class="error" th:if="${#fields.hasErrors('userAge')}" th:errors="*{userAge}"></p>
            </div>

            <!-- Gender -->
            <div class="field">
                <label>Gender</label>
                <select th:field="*{gender}" required>
                    <option value="" disabled selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <p class="error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
            </div>

            <!-- Address -->
            <div class="field">
                <label>Permanent Address</label>
                <textarea th:field="*{PAddress}" rows="1" placeholder="Enter your address" required></textarea>
                <p class="error" th:if="${#fields.hasErrors('PAddress')}" th:errors="*{PAddress}"></p>
            </div>

            <!-- Profile Image -->
            <div class="field">
                <label>Profile Image</label>
                <input type="file" th:field="*{userImage}"  required>
                <p class="error" th:if="${#fields.hasErrors('userImage')}" th:errors="*{userImage}"></p>
            </div>

            <!-- Password -->
            <div class="field">
                <label>Password</label>
                <input type="password" th:field="*{password}" placeholder="********" required >
                <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>

            <!-- Confirm Password -->
            <div class="field">
                <label>Confirm Password</label>
                <input type="password" th:field="*{Cpassword}" placeholder="********" required>
                <p class="error" th:if="${#fields.hasErrors('Cpassword')}" th:errors="*{Cpassword}"></p>
            </div>

            <button type="submit" class="btn">Register</button>


        </form>

    </div>
</div>

</body>
</html>
