<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Category</title>
    <link rel="stylesheet" th:href="@{/Styles/formCategory.css}">
    <link th:if="${users != null}" rel="stylesheet" th:href="@{/Styles/fragmentCSS.css}">
    <link th:if="${admin != null}" rel="stylesheet" th:href="@{/Styles/AdminfragmentCSS.css}">
</head>
<body>
<div th:if="${users != null}">
    <div th:replace="Fragments :: sidebar(${users})"></div>
    <div th:replace="Fragments :: navbar"></div>
</div>

<!-- ================= ADMIN FRAGMENTS ================= -->
<div th:if="${admin != null}">
    <div th:replace="Admin/AdminFragment :: sidebar(${admin})"></div>
    <div th:replace="Admin/AdminFragment :: navbar"></div>
</div>
<div class="form-container">
    <h2>Add New Category</h2>

    <form
            th:action="${admin != null} ? @{/item/category/admin/save} : @{/item/category/save}"
            th:object="${category}"
            method="post">

        <!-- Category Name -->
        <label for="name">Category Name:</label>
        <input type="text" id="name" th:field="*{name}" placeholder="Enter category name" required>


        <button type="submit">Add Category</button>
    </form>
</div>

</body>
</html>
